*
{
    color: white;
}

body
{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) , url(../images/account.jpg);
}
