*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body
{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) , url(../images/index.jpg);
}

.robotcheck
{
    width: 380px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background-color: aliceblue;
    padding: 20px;
}

.btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px
}

.input
{
    outline: 1;
    width: 50%;
    border: 0;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}